.idea
.nyc_output
*.iml
*.xml
node_modules/
lib
coverage
coverage-functional
dist
artefacts/imslib
artefacts/imslib-polyfill
artefacts/imslib-thin
artefacts/imslib-thin-polyfill
build
demo-apps/js/release
demo-apps/react/release
tests/automation/release
.vscode/