registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npmjs-remote/

@jidoka:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-jidoka-snapshot/
@adobe:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
